.container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    margin: 100px auto;
}

.card{
    
    margin: 15px 30px;
    background-color: black;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-10px);
}

.project-head{
    font-size: 30px !important;
    font-weight: bold !important;
}

.project-desc{
    font-size: 20px !important;
    letter-spacing: 1px !important;
    padding: 2px !important;
}

.project-tech{
    font-size: 20px !important;
}

.link-btn{
    
    color: white;
}

.box{
    height: 90vh !important;
}

.closeicon{
    position: absolute;
    top: 0;
    right:0;
    width: 4rem !important;
    margin: 10px !important;
    font-size: 3rem  !important;
    cursor: pointer;
}

.closeicon:hover{
    transform: translateY(-10px);
    
}

.link-btn:hover{
    color: #12D640;
    transform: translateY(-10px);
}

@media only screen and (  max-width: 1000px) {
    .container{
       
        width: 100vw;
        
    }

    .box {
        width: 350px !important;
        height: 100% !important;
    }

    .project-desc{
        font-size: 15px !important;
        letter-spacing: 1px !important;
        padding: 2px !important;
    }
    .project-tech{
        font-size: 15px !important;
    }

    .project-head{
        font-size: 25px !important;
        font-weight: bold !important;
    }

    .project-span {
        font-size: 18px !important;
    }

   
    .closeicon{
        position: absolute;
        top: 0;
        right:0;
        width: 2rem !important;
        margin-top: 5px !important;
    }
    
}


   
    
    
