.skill-container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 8rem 8rem;
    
}

.skill-section h3 {
    color: white;
   
}

.skills{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
}

.django {
    border-radius: 50px 50px;
}


.skill-item {
    border-bottom: 2px solid #38BDF8;
    border-radius: 10px 10px;
    
    margin: 20px;
}

.skill-item img {
    width: 150px;
    height: 150px;
    padding: 30px 30px;
}

.skill-item:hover{
    transform: translateY(-10px);
}


@media only screen and (max-width:1000px) {

    .skill-section h3{
        margin-top: 5rem;
        
    }
   
    .skill-container{
        margin: 3rem;
    }
    .skill-item {
        border-bottom: 2px solid #38BDF8;
        border-radius: 10px 10px;
        margin: 9px;
      }

      .skill-item img {
        width: 100px;
        height: 100px;
        padding: 30px 30px;
    }

}   

